@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<ul class="what-you-get__items ">
    <li class="glyphicon glyphicon-ok">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="what-you-get__text">√ How to build an interactive community</span>
    </li>
    <li class="glyphicon glyphicon-ok">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="what-you-get__text">√ Desigining database structure</span>
    </li>
    <li class="glyphicon glyphicon-ok">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="what-you-get__text">√ MVC architecture</span>
    </li>
    <li class="glyphicon glyphicon-ok">
        <span class="glyphicon glyphicon-ok"></span>
        <span class="what-you-get__text">√ AspNet core fundementals</span>
    </li>
</ul>
<p>Assam Toumi.</p>

