@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our Test Identity Application</a>.</p>
</div>
<div class="row">
    <div class="dxp-container">
        <div data-grid="col-12 stack-2">
            <div>
                <section class="m-feature f-align-left dxp-content-banner-white f-precise-clickh" id="Reach" aria-label="Reach more customers">
                    <picture>
                        <source media="(min-width: 1400px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_More_800x450.png?v={1/string}">
                        <source media="(min-width: 1084px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_More_630x472.png?v={1/string}">
                        <source media="(min-width: 768px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_More_542x406.png?v={1/string}">
                        <source media="(min-width: 540px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_More_767x288.png?v={1/string}">
                        <source media="(min-width:0)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_More_539x201.png?v={1/string}">
                        <img alt="Man looking at a computer screen wearing headphones" src="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_More_630x472.png?v={1/string}" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_More_630x472.png?v={1/string}">
                    </picture>
                    <div>
                        <h2 class="c-heading">Reach more customers​</h2>
                        <p class="c-paragraph">Reduce sign in friction and allow your users to sign in with their Microsoft personal, work or school account. Over a billion users already sign in to their Microsoft account to access services such as Office 365, Azure, Outlook.com, Xbox and more.</p>
                        <a class="c-call-to-action c-glyph dxp-margin-top-20 dxp-border-left-none dxp-underline-focus" aria-label="Learn more about securing your application" href="/identity/add-sign-in-with-microsoft">
                            
                        </a>
                    </div>
                </section>
            </div>
            <div>
                <section class="m-feature f-align-right dxp-content-banner-grey f-precise-clickh" id="Secure" aria-label="Secure your application">
                    <picture>
                        <source media="(min-width: 1400px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Secure_800x450.png?v={1/string}">
                        <source media="(min-width: 1084px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Secure_630x472.png?v={1/string}">
                        <source media="(min-width: 768px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Secure_542x406.png?v={1/string}">
                        <source media="(min-width: 540px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Secure_767x288.png?v={1/string}">
                        <source media="(min-width:0)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Secure_539x201.png?v={1/string}">
                        <img alt="Man looking at a computer screen wearing headphones" src="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Secure_630x472.png?v={1/string}" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Secure_630x472.png?v={1/string}">
                    </picture>
                    <div>
                        <h2 class="c-heading">Secure your application​</h2>
                        <p class="c-paragraph">Build secure authentication into your application and give your customers who use a Microsoft personal, work, or school account advanced security and access controls. Comply with existing IT policies and allow enterprises to use multi-factor authentication, identity protection, conditional access, and more.</p>
                        <a class="c-call-to-action c-glyph dxp-margin-top-20 dxp-border-left-none dxp-underline-focus" aria-label="Learn more about securing your application" href="/identity/secure-your-application">
                           
                        </a>
                    </div>
                </section>
            </div>
            <div>
                <section class="m-feature f-align-left dxp-margin-top-40 dxp-content-banner-white f-precise-click" id="Create" aria-label="Create powerful apps">
                    <picture>
                        <source media="(min-width: 1400px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Create_800x450.png?v={1/string}">
                        <source media="(min-width: 1084px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Create_630x472.png?v={1/string}">
                        <source media="(min-width: 768px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Create_542x406.png?v={1/string}">
                        <source media="(min-width: 540px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Create_767x288.png?v={1/string}">
                        <source media="(min-width:0)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Create_539x201.png?v={1/string}">
                        <img alt="Man sitting at a desk typing" src="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Create_630x472.png?v={1/string}" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Create_630x472.png?v={1/string}">
                    </picture>
                    <div>
                        <h2 class="c-heading">Create powerful apps</h2>
                        <p class="c-paragraph">Connect to Microsoft Graph and build apps, services, or workflows for Microsoft 365 organizations and consumers. Build on a platform that gives you access to powerful data and functionality through a single endpoint. Streamline new user onboarding, assign managers, grant permissions to documents, add users to roles, and more.</p>
                        <a class="c-call-to-action c-glyph dxp-margin-top-20 dxp-border-left-none dxp-underline-focus" aria-label="Learn more about creating powerful apps" href="/identity/connect-to-data">
                           
                        </a>
                    </div>
                </section>
            </div>
            <div>
                <section class="m-feature f-align-right dxp-content-banner-grey f-precise-click" id="Customer" aria-label="Customer identity and access management">
                    <picture>
                        <source media="(min-width: 1400px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Customer_800x450.png?v={1/string}">
                        <source media="(min-width: 1084px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Customer_630x472.png?v={1/string}">
                        <source media="(min-width: 768px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Customer_542x406.png?v={1/string}">
                        <source media="(min-width: 540px)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Customer_767x288.png?v={1/string}">
                        <source media="(min-width:0)" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Customer_539x201.png?v={1/string}">
                        <img alt="Man and woman looking at a laptop" src="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Customer_630x472.png?v={1/string}" srcset="https://cdn.graph.office.net/prod/media/identity/Identity_Feature_Customer_630x472.png?v={1/string}">
                    </picture>
                    <div>
                        <h2 class="c-heading">Customer identity and access management​</h2>
                        <p class="c-paragraph">Provide easy sign up and sign in to your applications by allowing users to use federated identity providers like Google and Facebook. Customize the user journey and meet business goals on a scalable and reliable platform.</p>
                        <a class="c-call-to-action c-glyph dxp-margin-top-20 dxp-border-left-none dxp-underline-focus" aria-label="Learn more about customer identity and access management" href="/identity/add-sign-in-with-social">
                           
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

